.header-title {
  font-size: 24px;
  text-align: center;
}

.logo-container {
  text-align: center;
  margin-top: 20px;
}

.logo-text {
  font-size: 36px;
  color: #ff7f50;
}

.form-item {
  margin-bottom: 15px;
}

.icon {
  color: #999;
  margin-right: 10px;
}

.btns {
  text-align: center;
  margin-top: 20px;
}

.signin-btn {
  background-color: #ff7f50;
  color: #fff;
}

.fingerPrint {
  text-align: center;
  margin-top: 9%;
}

.fingerPrint ion-icon {
  color: #999;
}
p{
  margin-left: 20px;
}