<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Update Password</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <form (ngSubmit)="updatePassword()" class="update-password-form">
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
      </ion-item>

      <ion-button class="update-btn" expand="full" type="submit">Update Password</ion-button>
    </form>
  </div>
</ion-content>
