ion-content {
    --background: linear-gradient(180deg, #203A43, #2C5364);
    color: #FFFFFF;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
margin-top: 17%;
    padding: 20px;
    background: rgba(black, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  ion-item {
    margin-bottom: 20px;
  }

  ion-button {
    --background: #1ABC9C;
    --border-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
  }

  .reset-btn {
    --background: none;
    border: 2px solid #FFFFFF;
  }

  .reset-btn:hover {
    --background: #FFFFFF;
    color: #1ABC9C;
  }