<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <form (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>

      <ion-button class="reset-btn" expand="block" type="submit">Reset Password</ion-button>
    </form>
  </div>
</ion-content>
