<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="container">
    <div class="content-wrapper">
      <h1 class="logo-text">life</h1>
      <p class="slogan">Unlock the Power of R</p>
      <p class="description">Welcome to RIZZ, the platform that empowers you to unlock the full potential of the R programming language. Explore our resources, engage with the community, and elevate your data analysis skills.</p>
    </div>
    <div class="btns">
    
    </div>
  </div>
</ion-content>





